@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 커스텀 글로벌 스타일 추가 */
html,
body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Inter', sans-serif;
  height: 100dvh;
}

a {
  @apply text-blue-600 hover:underline;
}

button {
  @apply cursor-pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

body {
  padding-bottom: var(--safe-area-inset-bottom);
}

/* 스크롤바 숨기기 (크로스 브라우저) */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE, Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}